html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 20px;
  background-color: #1c1d21;
}

/*-------------------------------------header-----------------------------------------*/

/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*  -------------------navigation bar-----------------------------     */

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 30px;
}

.navbar p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: black;
  border-radius: 50px;
}

/*-------------------------------------paralax eddect--------------------------------*/

header {
  /* The image used */
  background: linear-gradient(rgba(63, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(src/org_key.jpeg) center/cover no-repeat;
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.postn::after {
  content: "";
  animation: changetext 10s infinite linear;
  color: #7cfc00;
}

@keyframes changetext {
  0% {
    content: "Data Analyst";
  }
  21% {
    content: "Gammer";
  }
  41% {
    content: "Developer";
  }
  60% {
    content: "Programmer";
  }
  80% {
    content: "Trader";
  }
  100% {
    content: "Pythonier";
  }
}

/* ----------------------------- home class ---------------------------------------*/
.wall {
  background-image: url("src/black04.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section {
  background-color: #e7e9eb;
  border-radius: 5px;
}

.home {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  height: 1000px;
}

img {
  height: auto;
  width: 100%;
  opacity: 0.9;
}
.banertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

/*  -------------------------------intro class------------------------------------- */

.intro {
  position: relative;
  width: fit-content;
}

.introtext {
  position: relative;
  display: inline-block;
  margin: 20px;
  text-align: left;

  width: 500px;
  height: 500px;

  padding: 60px;
  margin-left: 400px;

  border-radius: 20px;
  background-color: #907163;
}

.imagepic {
  position: relative;
  width: fit-content;
  height: auto;
  margin: 20px;

  margin-top: 70px;
  margin-left: 70px;
  border-radius: 25px;
  display: inline;
  vertical-align: top;
}

.blocks {
  position: relative;
  display: inline;
}

.blocks p {
  position: relative;
  width: fit-content;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 200px;
  height: 400px;

  padding: 60px;
  margin-top: 150px;

  background-color: #907163;
}

p.block1 {
  margin-left: 70px;
}
p.block2 {
  margin-left: 20px;
}
p.block3 {
  margin-left: 20px;
}
p.block4 {
  margin-left: 20px;
}
p.block5 {
  margin-left: 20px;
}

/* -----------------------------------gar----------------------------------------- */

a.ex2:hover,
a.ex2:active {
  font-size: 150%;
}
