html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 20px;
}

/*  home class */

.home {
  position: relative;
}
img {
  height: auto;
  width: 100%;
  opacity: 0.9;
}
.imgtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

/*  intro class */

.intro {
  position:relative;
  width: auto;
}

.introtext {
  margin-left: 20px;
  margin-top: 10px;
}
/* the overlay img edits */
.imagepic {
  display: block;
  width: fit-content;
  height: auto;
  padding: 10px;
  margin: 20px;
  border-radius: 35px;
}

.overlay {
height: 0;
  position:absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  
  transition: 0.5s ease;
}

.dumb:hover .overlay {
  width: auto;
  bottom: 0;
  height: 100%;
}
.overlaytext {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
