.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.container {
  width: 100%;
  padding-right: 28px;
  padding-left: 28px;
  margin-right: auto;
  margin-left: auto;
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
body {
  font-family: open sans, sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #5b43d6;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffcb05;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #5b43d6;
  --secondary: #ffcb05;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffcb05;
  --danger: #dc3545;
  --light: #ffffff;
  --dark: #333743;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
:root {
  --lity-z-index-base: 9990;
  --lity-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  --lity-close-size: 35px;
  --lity-close-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  --lity-iframe-ratio: 9/16;
  --lity-transition-timing-function: ease;
  --lity-transition-duration: 0.3s;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
*,
::after,
::before {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::selection {
  background: #5b43d6;
  color: #fff;
}
/**/
html:not(.no-js) [data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.4s;
}
[data-aos].aos-animate {
  pointer-events: auto;
}
.glide {
  -webkit-font-smoothing: antialiased;
}
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
[data-aos] {
  pointer-events: none;
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
body {
  font-family: open sans, sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #5b43d6;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffcb05;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #5b43d6;
  --secondary: #ffcb05;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffcb05;
  --danger: #dc3545;
  --light: #ffffff;
  --dark: #333743;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
:root {
  --lity-z-index-base: 9990;
  --lity-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  --lity-close-size: 35px;
  --lity-close-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  --lity-iframe-ratio: 9/16;
  --lity-transition-timing-function: ease;
  --lity-transition-duration: 0.3s;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
*,
::after,
::before {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::selection {
  background: #5b43d6;
  color: #fff;
}
.glide__track {
  overflow: hidden;
}
.glide * {
  box-sizing: inherit;
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
[data-aos].aos-animate {
  pointer-events: auto;
}
.glide {
  -webkit-font-smoothing: antialiased;
}
[data-aos] {
  pointer-events: none;
}
body {
  font-family: open sans, sans-serif;
}

element.style {
  transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  width: 4982px;
  transform: translate3d(-2912px, 0px, 0px);
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide * {
  box-sizing: inherit;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
[data-aos].aos-animate {
  pointer-events: auto;
}
.glide {
  -webkit-font-smoothing: antialiased;
}
[data-aos] {
  pointer-events: none;
}
body {
  font-family: open sans, sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
